:root {
  --card-shadow: rgba(0, 0, 0, 0.2);
  --card-hover-shadow: rgba(255, 255, 226, 0.9);
}

.App {
  box-sizing: border-box;
  margin: 0;
  padding-top: 30px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: #ccc;
  background: #393939;
}

.App-header {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #ccc;
  background: #191919;
}

.App-gallery {
  width: 80%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 30px auto;
}

.App-card {
  width: 100%;
  box-shadow:
    0 3px 3px var(--card-shadow),
    3px 0 3px var(--card-shadow),
    0 -3px 3px var(--card-shadow),
    -3px 0 3px var(--card-shadow);
  transition: box-shadow .3s ease-in-out;
}


.App-card-img {
  transition: transform .3s ease-in-out;
}



.App-footer {
  background: #191919;
  width: 100%;
  font-size: 21px;
  padding: 10px 0;
}

a {
  cursor: unset;
}

@media (max-width: 780px) {
  .App-gallery {
    grid-template-columns: 1fr;
  }

  .App-card {
    margin: auto;
    width: 95%;
  }
}

@media (min-width: 780px) and (max-width: 1000px) {
  .App-gallery {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }

  .App-card {
    margin: auto;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .App-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
  }

  .App-card {
    margin: auto;
  }
}

@media (hover: hover) {
  .App-card-img:hover {
    transform: scale(1.3);
    box-shadow: 2px solid #ccc;
    filter: drop-shadow(-3px 0 8px var(--card-hover-shadow));
    cursor: pointer;
  }
}